.header {
    display: flex;
    margin-bottom: 3rem;
}

.header__container {
    flex: 1;
    overflow: hidden;
}

.header__controls {
    position: relative;
    flex: 0 0 10rem;
    white-space: nowrap;
    text-align: right;
    font-size: 1.2rem;
    padding-left: 3rem;
    box-sizing: content-box;

    & > label {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        line-height: 2.2;
    }
}

.header__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.header__titlemain {
    font-size: 3.5rem;
    padding-right: 0.5rem;
}

.header__subtitle {
    font-weight: normal;
    line-height: inherit;
}