.card--host {
    padding: 3rem;
    background-color: #ffffff;
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0;
    }

    // @media screen and (min-width: $break-large) {
        // max-width: 37.5rem;
    // }
}

.card__title {
    margin: 0 0 2.3rem;
    font-size: 1.6rem;
}

.card__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #4a4a4a;
}